.app {
  display: flex;
  @apply bg-gradient-to-r from-indigo-400 to-blue-400;
  
  &__left {
    @apply px-76 py-62;
    width: 60%;
    .main{
      display: flex;
      justify-content: space-between;
    }
  }
  &__right {
    @apply px-55 py-61;
    width: 40%;
  }
}